@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto";
}

html {
    height: 100%;
}

body {
    height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

#site-wrapper {
    display: grid;
    height: 100%;
    grid-template-rows: 20% auto;
    grid-template-columns: 20% 80%;
}

#navbar, .main {
    border: 2px solid black;
    border-collapse: collapse;
}

#side-nav > div {
    margin: 3vb 2vh 5vh 2vh;
}

#side-nav {
    /* site wrapper grid setting */
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    /* site wrapper grid setting */
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 0.2fr 20% 1fr;
    background-color: #1992D4;
}

#side-nav {
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

.side-top {
    display: grid;
    place-items: start;
}

.item-top {
    margin-bottom: 5vh;
    width: min-content;
}

.item-top > a {
    display: flex;
    align-items: center;
    width: auto;
}

.item-top > a > .icon > svg {
    height: 7vh;
    width: 7vh;
}

.item { 
    width: 100%;
}

.item > a {
    display: flex;
    width: min-content;
    
}

.content {
    margin-left: 3vh;
    font-size: 1.7rem;
}

.icon > svg {
    fill: white;
    height: 3.5vh;
    width: 3.5vh;   
}

.side-top > .item {
    margin: 1.5vh;
}

.side-bottom {
    display: grid;
    
}

.side-bottom > div {
    margin: 1.5vh;
}

/* navigation section */

#navbar {
    grid-column-start: 2;
    display: grid;
}

#navbar > div {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 25%;

}

.nav-top, .nav-bottom {
    border: 2px  black solid;
    
}

.nav-icon, .notif {
    fill: black;
    height: 30px;
    width: 30px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-right: 0vh;  
}

.user-info > div {
    margin-right: 3vh;
}

.avatar > img {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
}

.search-bar {
    margin-left: 5vh;
    display: flex;
    align-items: center;
}

#searchbar {
    margin-left: 2vh;
    width: 80vh;
    height: 3.5vh;
    border-radius: 12px;
    background-color: #E2E8F0;
    border: none;
    font-size: 1rem; 
    padding-left: 10px;   
}

#searchbar:focus {
    outline: none;
}



